@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* System Styling */

:root {
  --primary: #FFCD58;
  --secondary: #0C0C0C;
  --bg-light-dark: #EEEEEE;
  --bg-light-light: #FFFFFF;
  --bg-dark-dark: #000000;
  --bg-dark-light: #555555;
}

* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;;
}

::-webkit-scrollbar {
  display: none;
}

/* System Styling */
/* Toastify Styling */

.Toastify__close-button {
  display: none;
}

.Toastify__toast {
  border-radius: 0px;
}

.Toastify__progress-bar {
  background: #ffffff;
  border-radius: 0px;
}

/* Toastify Styling */
/* Reusable Styling */

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--secondary);
  clip-path: inset(0 -100vmax);
}

/* Reusable Styling */
/* Element Styling */

.font-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}

.font-subtitle {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
}

.font-text {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
}

a.active {
  background: var(--secondary);
  color: #FFFFFF;
}

a.active:hover {
  background: var(--secondary);
  color: #FFFFFF;
}

a.active img {
  filter: invert(100%);
}

input[type="checkbox"] {
  accent-color: #000000;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
    linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

/* Element Styling */